* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(49, 49, 49);
}
.card {
  background-color: rgb(228, 228, 228);
  width: 16.7%;
  height: 32rem;
  margin: 0 auto;
}
.card h2 {
  padding: .5rem 1rem;
}
.insta-photo {
  width: 20rem;
  display: block;
  margin: 0 auto;
}
.fa-heart {
  font-size: 2.5rem;
  color: rgb(133, 133, 133);
  cursor: pointer;
  margin-left: .3rem;
  margin-top: .3rem;
}
.heartchange {
  animation-name: pop;
  animation-duration: .7s;
  color: red;
}
@keyframes pop {
  50% {
    font-size: 5rem;
    transform: rotate(30deg);
  }
  80% {
    font-size: 5rem;
    transform: rotate(-30deg);
  }
  100% {
    font-size: 4rem;
    transform: rotate(0deg);
  }
}