* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(206, 206, 206);
}
.navbar {
    background-color: rgb(49, 49, 49);
    width: 100vw;
    height: 8vh;
    display: flex;
    justify-content: space-between;
}
.navbar__title {
    text-transform: uppercase;
    font-size: 1.6rem;
    padding: 0.5rem 0.3rem;
    font-family: Anton, sans-serif;
    color: rgb(14, 131, 226);
}
.navbar__list {
    display: flex;
    justify-content: space-evenly;
    width: 60vw;
    height: 6vh;
    list-style: none;
    padding-top: 0.7rem;
}
.list__item {
 text-decoration: none;
 color: white;
 font-weight: 700;
 font-size: 1rem;
}