* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(49, 49, 49);
}
#photo {
  display: none;
  margin: 0 auto;
  transition: 0.3s;
}
#view-btn {
  display: block;
  margin: 1rem auto;
  background-color: rgb(59, 59, 59);
  color: white;
  padding: 0.4rem 0;
  font-size: 1.5rem;
  width: 10%;
}
#close-btn {
  display: block;
  margin: 1rem auto;
  background-color: rgb(59, 59, 59);
  color: white;
  padding: 0.4rem 0;
  font-size: 1.5rem;
  width: 10%;
}
#photo:hover {
  transform: scale(1.04);
}