* {
    margin: 0;
    padding: 0;
}
.firstsection {
}
.firstsection__navbar {
    display: flex;
    justify-content: space-between;
}
.navbar__logo {
    width: 20vw;
}
.buybtn {
    text-decoration: none;
    background-color: rgb(5, 153, 252);
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    font-size: 3.5vw;
    padding: 0.9rem 0.8rem 0.2rem 0.8rem;
    border-radius: 10px;
    margin-right: 1rem;
}
.navbar__logo, .buybtn {
    margin-top: 1rem;
}
.firstsection__container {
    height: 30rem;
}
.firstsection__containercontent {

    width: 90%;
    margin: 3rem auto;
}
.containercontent__title {
    font-size: 9vw;
    text-align: start;
    font-family: "Work Sans", sans-serif;
}
.containercontent__desc {
    font-weight: 500;
}
.firstsection__containerimg {

    width: 60%;
    margin: 1rem auto;
}
.secondsection {
    background-color: rgb(0, 0, 0);
}